.player {
  width: 2%; /* Un poco más grande para mejor visibilidad */
  height: 2%;
  margin-left: -.6%;
  margin-top: -.6%;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  transition: all 60ms linear;
  /* Nitidez extrema */
  border: 1.5px solid rgba(255, 255, 255, 0.8);
}

/* Glow dinámico según equipo */
.player.CT {
  background-color: var(--CTColor);
  box-shadow: 0 0 15px var(--CTColor);
}

.player.T {
  background-color: var(--TColor);
  box-shadow: 0 0 15px var(--TColor);
}

.player.flashed {
  box-shadow: 0 0 1vh .2vh white;
}

.player.dead {
  opacity: .5;
}

.playerArrow {
  width: 140%;
  height: 140%;
  left: -20%;
  top: -20%;
  background: radial-gradient(circle at 50% 0%, white 0%, transparent 70%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Triángulo más agresivo */
  position: absolute;
  opacity: 0.6;
}

.playerArrowContainer {
  width: 100%;
  height: 100%;
}

.playerShot {
  transition: transform 100ms linear;
  transform-origin: top;
  width: 1px;
  height: 5%;
  background-color: gray;
  position: absolute;
}

.player.T, .playerArrow.T {
  background-color: var(--TColor);
}

.player.CT, .playerArrow.CT {
  background-color: var(--CTColor);
}

.playerNameTag {
  position: absolute;
  transform: translate(-35%, -210%);
  display: block;
  /*border: 1px solid black;*/
  border-radius: 2px;
  background-color: var(--DarkColor);
  white-space: nowrap;
  padding: 0 2px;
  opacity: .5;
  z-index: -5;
  font-size: 1.4vh;
}

.playerMapWeapon {
  width: 200%;
  height: 100%;
  display: block;
  transform: translate(-30%, -420%);
  opacity: .4;
  z-index: -4;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
